<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>KeepFit - Data not found</title>
</head>

<body>
    <main class="min-h-screen bg-cover bg-top sm:bg-top"
        style="background-image:
            url('https://c.pxhere.com/photos/d1/c8/running_sprint_cinder_track_cinderpath_start_sports_woman_athlete-780566.jpg!d');">
        <div class="max-w-7xl mx-auto px-4 py-16 text-center sm:px-6
                sm:py-24 lg:px-8 lg:py-48">
            <p class="text-4xl font-semibold text-black text-opacity-70
                    uppercase tracking-wide">Data not found</p>
            <h1 class="mt-2 text-4xl font-extrabold text-white
                    tracking-tight sm:text-4xl">It appears that you may have <br> entered the wrong data.</h1>
            <p class="mt-2 text-xl font-medium text-black text-opacity-70">
                The email or password is incorrect.</p>
            <div class="mt-6">
                <a href="/" class="inline-flex items-center px-4 py-2 border
                        border-transparent text-sm font-medium rounded-md
                        text-black  bg-white bg-opacity-75
                        sm:bg-opacity-25 sm:hover:bg-opacity-50">
                    Go back to login
                </a>
            </div>
        </div>
    </main>

    {{> footer }}

</body>

</html>