<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KeepFit - Privacy policy</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <div class="relative bg-white">
        <div class="lg:absolute lg:inset-0">
            <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2">
                <img class="h-56 w-full object-cover lg:absolute lg:h-full"
                    src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80"
                    alt="Privacy policy">
            </div>
        </div>
        <div class="relative pt-12 pb-16 px-4 sm:pt-16 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto lg:grid lg:grid-cols-2">
            <div class="lg:col-start-2 lg:pl-8">
                <div class="text-base max-w-prose mx-auto lg:max-w-lg lg:ml-auto lg:mr-0">
                    <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Privacy
                        policy</h3>
                    <br>
                    <h2 class="leading-6 text-indigo-600 font-semibold tracking-wide">This Privacy Policy covers what we
                        collect and how we use, disclose, transfer and store your information.</h2>
                    <p class="mt-8 text-lg text-gray-500">
                        Privacy policy is one of the essential legal requirements for websites.
                        Even if you only have a small business or a blog without any revenue, you may be surprised to
                        find out that you still need a privacy policy.
                        Basically, if your website collects personal data, you need a privacy policy that informs your
                        users of this fact in accordance with privacy laws in most jurisdictions, including EU and US.
                        Almost all modern websites work with the use of cookies, so the chances are high that your
                        website is collecting personal data, e.g. for statistical, functional or marketing purposes.
                        Learn below what a privacy policy is and how to get one for your website.
                    </p>
                    <div class="mt-5 prose prose-indigo text-gray-500">
                        <h2>What information do we collect?</h2>
                        <br>
                        <p>
                        <ul>
                            <li>- Account Data <br>
                                When you register an account on our application, basic contact data is collected, such
                                asyour contact person's email address and name, phone number, weight, height, and
                                everything related to interacting with the application.
                            </li>
                            <br>
                            <li>- Configuration Data <br>
                                We collect the information you have provided to us in the registration form for our
                                servicesas an application.
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {{> footer }}
</body>

</html>