<div class="bg-white">
    <section aria-labelledby="features-heading" class="relative">
        <div class="aspect-w-3 aspect-h-2 overflow-hidden sm:aspect-w-5
            lg:aspect-none lg:absolute lg:w-1/2 lg:h-full lg:pr-4 xl:pr-16">
            <img
                src="https://c.pxhere.com/photos/96/d9/crossfit_exercise_fitness_indoors_person_rope_jumping_ropes_sport-919377.jpg!d"
                alt="Cardio" class="h-full
                w-full object-center object-cover lg:h-full lg:w-full">
        </div>

        <div class="max-w-2xl mx-auto pt-16 pb-24 px-4 sm:pb-32 sm:px-6
            lg:max-w-7xl lg:pt-32 lg:px-8 lg:grid lg:grid-cols-2 lg:gap-x-8">
            <div class="lg:col-start-2">
                <h2 id="features-heading" class="font-medium text-gray-500">Static
                    cardio workouts</h2>
                <p class="mt-4 text-4xl font-extrabold text-gray-900
                    tracking-tight">Skipping rope - Leagues - Static training</p>
                <p class="mt-4 text-gray-500">Here you can get an idea of
                    ​continuing with a static
                    cardio workout, using different variations.</p>

                <dl class="mt-10 grid grid-cols-1 gap-y-10 gap-x-8 text-sm
                    sm:grid-cols-2">
                    <div>
                        <dt class="font-medium text-gray-900">Monday - Skipping rope</dt>
                        <ul class="mt-2 text-gray-500 list-disc">
                            <li>Beginners: 2-3 series - 1min x 1min</li>
                            <li>Advanced: 3-5series - 2min x 1min</li>
                            <li>Experts: 5-8 series - 3min x 1min</li>
                        </ul>
                    </div>

                    <div>
                        <dt class="font-medium text-gray-900">Wednesday - Leagues</dt>
                        <ul class="mt-2 text-gray-500 list-disc">
                            <li>Beginners: 2-3 series - 1min x 1min</li>
                            <li>Advanced: 3-5series - 2min x 1min</li>
                            <li>Experts: 5-8 series - 3min x 1min</li>
                        </ul>
                    </div>

                    <div>
                        <dt class="font-medium text-gray-900">Friday - Static training</dt>
                        <ul class="mt-2 text-gray-500 list-disc">
                            <li>Beginners: 30mins - 45mins - Stationary bicycle</li>
                            <li>Advanced: 2-3 series - 1min x 1min - Burpees</li>
                            <li>Experts: 45mins - 1h - Static rowing</li>
                        </ul>
                    </div>
                </dl>
            </div>
        </div>
    </section>
</div>
