<h2 class="text-2xl font-extrabold tracking-tight text-gray-900 py-20 flex justify-center text-center px-5">Workouts and exercises for dorsal</h2>
<ul role="list" class="px-12 grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
    
  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/htxpyxdc/dorsales1.gif" alt="Dorsal" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Bench dumbbell back</p>
  </li>

  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/Bv0Nd6TD/dorsales2.gif" alt="Dorsal" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Open grip bench back</p>
  </li>

  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/vBPzgtpL/dorsales3.gif" alt="Dorsal" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Back with closed pulley</p>
  </li>

  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/D08cqbhV/dorsales4.gif" alt="Dorsal" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Seated pulley back row</p>
  </li>

  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/fbC7pvTn/dorsales5.gif" alt="Dorsal" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Seated pulley back with opening</p>
  </li>

  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/RCDdvG1v/dorsales6.gif" alt="Dorsal" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Barbell bench back</p>
  </li>

  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/rw69rmYb/dorsales7.gif" alt="Dorsal" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Back pull ups</p>
  </li>

  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/2S47FDs5/dorsales8.gif" alt="Dorsal" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Dumbbell back</p>
  </li>
</ul>