<div class="bg-white">
    <div class="max-w-2xl mx-auto py-12 px-4 sm:py-12 sm:px-6 lg:max-w-7xl
        lg:px-8">

        {{!-- Título principal --}}

        <p class="mt-2 text-3xl font-extrabold tracking-tight text-gray-900
            sm:text-4xl flex justify-center text-center">Lifestyle Diets</p>
        <p class="mt-4 text-gray-500 flex justify-center text-center">There are
            tons of diets out there — we
            break them down for you so you can learn which ones might fit
            your needs.</p>


        {{!-- Dietas veganas --}}
        <p class="mt-2 text-4xl font-extrabold tracking-tight text-gray-900
            sm:text-4xl pt-12 flex justify-center">Vegan diets</p>

        <div class="mt-11 grid items-start grid-cols-1 gap-y-16 gap-x-6 sm:mt-16
            sm:grid-cols-2 lg:grid-cols-4 lg:gap-x-8">

            <a class="cursor-pointer" href="/foodNutrition/veganDiet-1">
                <div class="flex flex-col-reverse">
                    <div class="mt-6">
                        <h3 class="text-sm font-medium text-gray-900 flex
                            justify-center text-center">The Vegan
                            Diet
                            — A Complete Guide for Beginners</h3>
                        <p class="mt-2 text-sm text-gray-500 hover:text-gray-900
                            flex justify-center text-center">A vegan diet can
                            help
                            you lose weight and drastically improve your health,
                            if
                            done right…</p>
                    </div>
                    <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100
                        overflow-hidden">
                        <img
                            src="https://c.pxhere.com/images/21/34/db363b96c738bbbc0350fb2acc7e-1634390.jpg!d"
                            alt="Vegetables" class="object-center object-cover">
                    </div>
                </div>
            </a>

            <a class="cursor-pointer" href="/foodNutrition/veganDiet-2">
                <div class="flex flex-col-reverse">
                    <div class="mt-6">
                        <h3 class="text-sm font-medium text-gray-900 flex
                            justify-center text-center">What Is
                            Veganism, and What Do Vegans Eat?</h3>
                        <p class="mt-2 text-sm text-gray-500 hover:text-gray-900
                            flex justify-center text-center">Vegan diets have
                            received an increasing amount of attention in recent
                            years. This article…</p>
                    </div>
                    <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100
                        overflow-hidden">
                        <img
                            src="https://c.pxhere.com/photos/0b/f8/salad_cooking_board_food_healthy_vegetable_kitchen_diet-780584.jpg!d"
                            alt="Vegan pizza" class="object-center
                            object-cover">
                    </div>
                </div>
            </a>

            <a class="cursor-pointer" href="/foodNutrition/veganDiet-3">
                <div class="flex flex-col-reverse">
                    <div class="mt-6">
                        <h3 class="text-sm font-medium text-gray-900 flex
                            justify-center text-center">3
                            Science-Based Health Benefits of Eating Vegan</h3>
                        <p class="mt-2 text-sm text-gray-500 hover:text-gray-900
                            flex justify-center text-center">A vegan diet has
                            some
                            impressive effects on your health. Here are 3
                            science-based health…</p>
                    </div>
                    <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100
                        overflow-hidden">
                        <img
                            src="https://c.pxhere.com/photos/7d/99/broccoli_vegetables_healthy_cook_nutrition_frisch_vegan_green-1283031.jpg!d"
                            alt="Vegetables">
                    </div>
                </div>
            </a>

            <a class="cursor-pointer" href="/foodNutrition/veganDiet-4">
                <div class="flex flex-col-reverse">
                    <div class="mt-6">
                        <h3 class="text-sm font-medium text-gray-900 flex
                            justify-center text-center">The 4
                            Best
                            Protein Sources for Vegans and Vegetarians</h3>
                        <p class="mt-2 text-sm text-gray-500 hover:text-gray-900
                            flex justify-center text-center">Some worry that
                            vegetarian and vegan diets might lack sufficient
                            protein. This article…</p>
                    </div>
                    <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100
                        overflow-hidden">
                        <img
                            src="https://c.pxhere.com/photos/21/10/tortilla_mexican_tomatoes_salad_meal_bread_food_frisch-632744.jpg!d"
                            alt="Vegetables">
                    </div>
                </div>
            </a>
        </div>

        {{!--Dietas de ayuno intermitente --}}
        <p class="mt-2 text-4xl font-extrabold tracking-tight text-gray-900
            sm:text-4xl pt-12 flex justify-center text-center">Intermittent
            fasting diets</p>
        <div class="mt-11 grid items-start grid-cols-1 gap-y-16 gap-x-6 sm:mt-16
            sm:grid-cols-2 lg:grid-cols-4 lg:gap-x-8">

            <a class="cursor-pointer" href="/foodNutrition/intermittentFastingDiets-1">
                <div class="flex flex-col-reverse">
                    <div class="mt-6">
                        <h3 class="text-sm font-medium text-gray-900 flex
                            justify-center text-center">Intermittent
                            Fasting 101 — The Ultimate Beginner’s Guide</h3>
                        <p class="mt-2 text-sm text-gray-500 hover:text-gray-900
                            flex justify-center text-center">This is a detailed
                            guide to intermittent fasting (IF). Studies show
                            that it
                            can help you…</p>
                    </div>
                    <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100
                        overflow-hidden">
                        <img
                            src="https://c.pxhere.com/images/f1/8d/eb952e56b769819c3349138c46c5-1634381.jpg!d"
                            alt="Lemon & cookies" class="object-center
                            object-cover">
                    </div>
                </div>
            </a>

            <a class="cursor-pointer" href="/foodNutrition/intermittentFastingDiets-2">
                <div class="flex flex-col-reverse">
                    <div class="mt-6">
                        <h3 class="text-sm font-medium text-gray-900 flex
                            justify-center text-center">5 Popular
                            Ways
                            to Do Intermittent Fasting</h3>
                        <p class="mt-2 text-sm text-gray-500 hover:text-gray-900
                            flex justify-center text-center">Intermittent
                            fasting
                            is an effective way to lose weight and improve
                            health.
                            This article…</p>
                    </div>
                    <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100
                        overflow-hidden">
                        <img
                            src="https://c.pxhere.com/photos/0b/07/juice_health_fruits_food_fresh_fruit_juice_diet_health_food-670991.jpg!d"
                            alt="Strawberries" class="object-center
                            object-cover">
                    </div>
                </div>
            </a>

            <a class="cursor-pointer" href="/foodNutrition/intermittentFastingDiets-3">
                <div class="flex flex-col-reverse">
                    <div class="mt-6">
                        <h3 class="text-sm font-medium text-gray-900 flex
                            justify-center text-center">Intermittent
                            Fasting for Real People: Practical Tips to Eat on
                            Schedule</h3>
                        <p class="mt-2 text-sm text-gray-500 hover:text-gray-900
                            flex justify-center text-center">Make your journey
                            into
                            scheduled eating a little more manageable...</p>
                    </div>
                    <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100
                        overflow-hidden">
                        <img
                            src="https://c.pxhere.com/photos/73/f0/agriculture_antioxidant_carrot_diet_dieting_eating_eating_healthy_food-920572.jpg!d"
                            alt="Vegetables">
                    </div>
                </div>
            </a>

            <a class="cursor-pointer" href="/foodNutrition/intermittentFastingDiets-4">
                <div class="flex flex-col-reverse">
                    <div class="mt-6">
                        <h3 class="text-sm font-medium text-gray-900 flex
                            justify-center text-center">16/8
                            Intermittent Fasting: A Beginner's Guide</h3>
                        <p class="mt-2 text-sm text-gray-500 hover:text-gray-900
                            flex justify-center text-center">16/8 intermittent
                            fasting is one of the most popular styles of fasting
                            and
                            thought to be…</p>
                    </div>
                    <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100
                        overflow-hidden">
                        <img
                            src="https://c.pxhere.com/photos/c8/0c/salad_greens_healthy_food_diet_lettuce_spinach_vegan-825925.jpg!d"
                            alt="Vegetables">
                    </div>
                </div>
            </a>
        </div>

        {{!-- Dieta ketogenica --}}
        <p class="mt-2 text-4xl font-extrabold tracking-tight text-gray-900
            sm:text-4xl pt-12 flex justify-center">Ketogenic diet</p>


        <div class="mt-11 grid items-start grid-cols-1 gap-y-16 gap-x-6 sm:mt-16
            sm:grid-cols-2 lg:grid-cols-4 lg:gap-x-8">

            <a class="cursor-pointer" href="/foodNutrition/ketogenicDiet-1">
                <div class="flex flex-col-reverse">
                    <div class="mt-6">
                        <h3 class="text-sm font-medium text-gray-900 flex
                            justify-center text-center">The
                            Ketogenic
                            Diet: A Detailed Beginner’s Guide to Keto</h3>
                        <p class="mt-2 text-sm text-gray-500 hover:text-gray-900
                            flex justify-center text-center">
                            The Ketogenic Diet: A Detailed Beginner’s Guide to
                            Keto
                            The ketogenic diet (keto) is a low-carb, high-fat
                            diet
                            that causes weight loss and…</p>
                    </div>
                    <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100
                        overflow-hidden">
                        <img
                            src="https://c.pxhere.com/photos/f2/6d/beef_chef_cherry_closeup_colorful_cook_cooking_delicious-819472.jpg!d"
                            alt="Meat" class="object-center object-cover">
                    </div>
                </div>
            </a>

            <a class="cursor-pointer" href="/foodNutrition/ketogenicDiet-2">
                <div class="flex flex-col-reverse">
                    <div class="mt-6">
                        <h3 class="text-sm font-medium text-gray-900 flex
                            justify-center text-center">A Keto
                            Diet
                            Meal Plan and Menu That Can Transform Your Body</h3>
                        <p class="mt-2 text-sm text-gray-500 hover:text-gray-900
                            flex justify-center text-center">Research has shown
                            that low-carb, high-fat diets such as the keto diet
                            can
                            promote fat…</p>
                    </div>
                    <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100
                        overflow-hidden">
                        <img
                            src="https://c.pxhere.com/photos/a6/4b/appetite_asparagus_broccoli_calories_catering_cherry_closeup_colorful-819501.jpg!d"
                            alt="Vegetables" class="object-center object-cover">
                    </div>
                </div>
            </a>

            <a class="cursor-pointer" href="/foodNutrition/ketogenicDiet-3">
                <div class="flex flex-col-reverse">
                    <div class="mt-6">
                        <h3 class="text-sm font-medium text-gray-900 flex
                            justify-center text-center">3 Foods
                            to
                            Eat on a Ketogenic Diet</h3>
                        <p class="mt-2 text-sm text-gray-500 hover:text-gray-900
                            flex justify-center text-center">A ketogenic diet
                            is a
                            very low-carb diet with numerous health benefits.
                            Here
                            are 16…</p>
                    </div>
                    <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100
                        overflow-hidden">
                        <img
                            src="https://c.pxhere.com/photos/c5/ea/grill_meat_barbecue_grilled_summer_grilled_meats_steak_grilling-604449.jpg!d"
                            alt="Vegetables">
                    </div>
                </div>
            </a>

            <a class="cursor-pointer" href="/foodNutrition/ketogenicDiet-4">
                <div class="flex flex-col-reverse">
                    <div class="mt-6">
                        <h3 class="text-sm font-medium text-gray-900 flex
                            justify-center text-center">4 Signs
                            and
                            Symptoms That You're in Ketosis</h3>
                        <p class="mt-2 text-sm text-gray-500 hover:text-gray-900
                            flex justify-center text-center">Ketosis is a
                            metabolic
                            state that can be caused by a low-carb or ketogenic
                            diet. Here are…</p>
                    </div>
                    <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100
                        overflow-hidden">
                        <img
                            src="https://c.pxhere.com/photos/63/0e/bruschetta_italian_cuisine_appetizer_starter_variety_vegetable_garlic-1221164.jpg!d"
                            alt="Vegetables">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
