<div class="bg-white overflow-hidden">
  <div class="relative max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
    <div class="hidden lg:block bg-gray-50 absolute top-0 bottom-0 left-3/4
      w-screen"></div>
    <div class="mx-auto text-base max-w-prose lg:grid lg:grid-cols-2 lg:gap-8
      lg:max-w-none">
      <div>
        <h2 class="text-base text-indigo-600 font-semibold tracking-wide
          uppercase">5 Popular
          Ways
          to Do Intermittent Fasting</h2>
        <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight
          text-gray-900 sm:text-4xl">5 Intermittent Fasting Methods</h3>
      </div>
    </div>
    <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="relative lg:row-start-1 lg:col-start-2">
        <div class="relative text-base mx-auto max-w-prose lg:max-w-none">
          <figure>
            <div class="aspect-w-12 aspect-h-7 lg:aspect-none">
              <img class="rounded-lg shadow-lg object-cover object-center"
                src="https://c.pxhere.com/photos/46/45/prawn_seafood_shrimps_protein_asian_calories_catering_cellulite-819290.jpg!d" 
                alt="Whitney leaning against a railing on a downtown street" width="1184" height="1376">
            </div>
          </figure>
        </div>
      </div>
      <div class="mt-8 lg:mt-0">
        <div class="text-base max-w-prose mx-auto lg:max-w-none">
          <p>
            <strong>Time-restricted eating: </strong>Involves fasting every day for 12 hours or longer and eating in the
            remaining hours.
            A popular example is the 16/8 method. It features a daily 16-hour fast and an 8-hour eating window wherein
            you can fit in 2, 3, or more meals.
          </p> <br>

          <p>
            <strong>The 5:2 diet: </strong>The 5:2 diet involves eating as you normally do 5 days of the week and
            restricting your calorie intake to 500–600 on the remaining 2 days.
          </p> <br>

          <p>
            <strong>Eat Stop Eat: </strong>Eat Stop Eat involves a 24-hour fast once or twice per week.
          </p> <br>

          <p>
            <strong>Alternate-day fasting: </strong>With alternate-day fasting, the goal is to fast every other day.
          </p> <br>

          <p>
            <strong>The Warrior Diet: </strong>The Warrior Diet was among the first popular diets to include a form of
            intermittent fasting. It involves eating small amounts of raw fruits and vegetables during the day and
            eating one large meal at night.
          </p> <br>

          <cite><strong>Written by Kris Gunnars</strong></cite>
        </div>
      </div>
    </div>
  </div>
</div>