<div class="relative py-16 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="block text-base text-center text-indigo-600
          font-semibold tracking-wide uppercase">What Is 16/8 Intermittent Fasting? A Beginner’s Guide</span>
        <span class="mt-2 block text-3xl text-center leading-8
          font-extrabold tracking-tight text-gray-900 sm:text-4xl">What is 16/8 intermittent fasting?</span>
      </h1>
      <p class="mt-8 text-xl text-gray-500 leading-8 text-center">The practice of 16/8 intermittent fasting involves
        limiting your intake of foods and calorie-containing beverages to a set window of 8 hours per day. You abstain
        from food for the remaining 16 hours, though you’re still allowed to drink water and other no-calorie beverages,
        like plain coffee or tea.
      </p>
    </div>
    <div class="mt-6 prose prose-indigo prose-lg text-gray-500
      mx-auto flex justify-center">
      <img class="w-1/3 rounded-lg"
        src="https://c.pxhere.com/photos/69/cc/green_juice_cabbage_apple_green_celery_parsley_juicing_mason_jar-877943.jpg!d"
        alt="Food" width="1310" height="873">
    </div>
  </div>
</div>

<div class="relative py-4 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="mt-2 block text-3xl text-center leading-8
          font-extrabold tracking-tight text-gray-900 sm:text-4xl">Benefits of 16/8 intermittent fasting</span>
      </h1>
      <p class="mt-8 text-xl text-gray-500 leading-8 text-center">Restricting your eating window to a few hours per day
        can cut your calorie intake over the course of the day, which in turn may contribute to weight loss.
        In fact, research reveals that fasting may boost weight loss.
        For example, one review found that 11 of 13 studies on intermittent fasting reported statistically significant
        weight loss in participants.
      </p>
    </div>
    <div class="mt-6 prose prose-indigo prose-lg text-gray-500
      mx-auto flex justify-center">
      <img class="w-1/3 rounded-lg"
        src="https://c.pxhere.com/photos/2b/64/smoothie_frozen_blueberries_purple_glass_spoon_vegan_raw-730067.jpg!d" 
        alt="Food" width="1310" height="873">
    </div>
  </div>
</div>

<div class="relative py-4 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="mt-2 block text-3xl text-center leading-8
          font-extrabold tracking-tight text-gray-900 sm:text-4xl">Drawbacks of 16/8 intermittent fasting</span>
      </h1>
      <p class="mt-8 text-xl text-gray-500 leading-8 text-center">Although 16/8 intermittent fasting is associated with
        several health benefits, it has a few side effects and may not be right for everyone.
        Be sure to start your fasting regimen gradually and consider stopping or consulting your doctor if you have any
        concerns or experience negative symptoms.
      </p>
    </div>
    <div class="mt-6 prose prose-indigo prose-lg text-gray-500
      mx-auto flex justify-center">
      <img class="w-1/3 rounded-lg"
        src="https://c.pxhere.com/photos/db/68/smoothie_raspberry_healthy_food_fruit_fresh_vegetarian_drink-614384.jpg!d" 
        alt="Food" width="1310" height="873">
    </div>
  </div>
</div>

<div class="relative py-4 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="mt-2 block text-3xl text-center leading-8
          font-extrabold tracking-tight text-gray-900 sm:text-4xl">Is 16/8 intermittent fasting right for you?</span>
      </h1>
      <p class="mt-8 text-xl text-gray-500 leading-8 text-center">It’s true that 16/8 intermittent fasting can be a
        sustainable, safe, and easy way to improve your health when paired with a nutritious diet and healthy lifestyle.
        However, it shouldn’t be viewed as a substitute for a balanced diet rich in whole foods. Plus, you can still be
        perfectly healthy if you don’t follow intermittent fasting.
        Though 16/8 intermittent fasting is generally considered safe for healthy adults, you should talk with your
        doctor if you have any underlying health conditions. This is key if you’re taking any medications or have
        diabetes, low blood pressure, or a history of disordered eating.
      </p>
    </div>
    <div class="mt-6 prose prose-indigo prose-lg text-gray-500
      mx-auto flex justify-center">
      <img class="w-1/3 rounded-lg"
        src="https://c.pxhere.com/photos/16/c6/smoothie_food_colors_b_r_healthy_diet_drink_fruit-206564.jpg!d"  alt="Food"
        width="1310" height="873">
    </div>
    <cite class="pt-8 flex justify-center"><strong>Written by Lizzie Streit</strong></cite><br>
  </div>
</div>