<div class="relative bg-white">
  <div class="lg:absolute lg:inset-0">
    <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2">
      <img class="h-56 w-full object-cover lg:absolute lg:h-full"
        src="https://c.pxhere.com/photos/3d/86/hamburger_food_meal_tasty_dining_lunch_citizen_luncheon-927054.jpg!d"
        alt="Ketogenic food">
    </div>
  </div>
  <div class="relative pt-12 pb-16 px-4 sm:pt-16 sm:px-6 lg:px-8 lg:max-w-7xl
    lg:mx-auto lg:grid lg:grid-cols-2">
    <div class="lg:col-start-2 lg:pl-8">
      <div class="text-base max-w-prose mx-auto lg:max-w-lg lg:ml-auto lg:mr-0">
        <h2 class="leading-6 text-indigo-600 font-semibold tracking-wide
          uppercase">The Ketogenic Diet: A Detailed Beginner’s Guide to Keto</h2>
        <h3 class="my-8 text-3xl leading-8 font-extrabold tracking-tight
            text-gray-900 sm:text-4xl">What is a ketogenic diet?</h3>
        <p>The ketogenic diet is a very low carb, high fat diet that shares many similarities with the Atkins and low
          carb diets.
          It involves drastically reducing carbohydrate intake and replacing it with fat. This reduction in carbs puts
          your body into a metabolic state called ketosis.</p>

        <h3 class="mt-8 text-3xl leading-8 font-extrabold tracking-tight
              text-gray-900 sm:text-4xl">Standard ketogenic diet (SKD)</h3>
        <div class="mt-5 prose prose-indigo text-gray-500">
          <ul class="list-disc">
            <li>This is a very low carb, moderate protein and high fat diet. It typically contains 70% fat, 20% protein,
              and only 10% carbs.</li><br>
          </ul>
        </div>

        <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight
              text-gray-900 sm:text-4xl">Cyclical ketogenic diet (CKD)</h3>
        <div class="mt-5 prose prose-indigo text-gray-500">
          <ul class="list-disc">
            <li>This diet involves periods of higher carb refeeds, such as 5 ketogenic days followed by 2 high carb
              days.</li><br>
          </ul>
        </div>

        <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight
              text-gray-900 sm:text-4xl">Targeted ketogenic diet (TKD)</h3>
        <div class="mt-5 prose prose-indigo text-gray-500">
          <ul class="list-disc">
            <li>This diet allows you to add carbs around workouts.</li><br>
          </ul>
        </div>

        <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight
              text-gray-900 sm:text-4xl">High protein ketogenic diet</h3>
        <div class="mt-5 prose prose-indigo text-gray-500">
          <ul class="list-disc">
            <li> This is similar to a standard ketogenic diet, but includes more protein. The ratio is often 60% fat,
              35% protein, and 5% carbs.</li><br>
            <cite><strong>Written by Rudy Mawer</strong></cite>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>