<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white py-16 sm:py-24">
  <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:gap-24
    lg:items-start">
    <div class="relative sm:py-16 lg:py-0">
      <div aria-hidden="true" class="hidden sm:block lg:absolute lg:inset-y-0
        lg:right-0 lg:w-screen">
        <div class="absolute inset-y-0 right-1/2 w-full bg-gray-50 rounded-r-3xl
          lg:right-72"></div>
      </div>
      <div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6
        lg:px-0 lg:max-w-none lg:py-20">
        <!-- Testimonial card-->
        <div class="relative pt-64 pb-10 rounded-2xl shadow-xl
          overflow-hidden">
          <img class="absolute inset-0 h-full w-full object-cover"
            src="https://c.pxhere.com/photos/a4/20/food_salmon_teriyaki_cooking-889300.jpg!d" alt="Ketogenic food">
        </div>
      </div>
    </div>

    <div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6
      lg:px-0">
      <!-- Content area -->
      <div class="pt-12 sm:pt-16 lg:pt-20">
        <h2 class="text-3xl text-gray-900 font-extrabold tracking-tight
          sm:text-4xl">
          3 Foods to Eat on the Keto Diet
        </h2>
        <div class="mt-6 text-gray-500 space-y-6">
          <ul class="list-disc">
            <li>
              <p class="text-lg">
                <strong>Animal proteins: </strong>
                Fish and shellfish are very keto-friendly. Salmon and other fish are not only nearly carb-free but also
                rich in B vitamins, potassium, and selenium.
                Meat and poultry are considered staple foods on the keto diet. Eggs are an extremely healthy protein
                source.
              </p>
            </li><br>
            <li>
              <p class="text-lg">
                <strong>Dairy and dairy alternatives: </strong>
                There are hundreds of types of cheese, most of which are very low in carbs and high in fat, making them
                a great fit for the keto diet.
                Cheese is high in saturated fat, but it hasn’t been shown to increase your risk of heart disease. In
                fact, some studies suggest that it may help protect against this condition.
                Cheese also contains CLA, which has been linked to fat loss and improvements in body composition.
                In addition, eating cheese regularly may help reduce the loss of muscle mass and strength that occurs
                with aging.
                A 12-week study in older adults found that those who ate 7 ounces (210 grams) of ricotta per day
                experienced less loss of muscle mass and muscle strength than those who didn’t eat this amount of
                cheese.
              </p>
            </li><br>
            <li>
              <p class="text-lg">
                <strong>Plain Greek yogurt and cottage cheese:
                </strong>
                Plain Greek yogurt and cottage cheese are nutritious, high protein foods. While they contain some carbs,
                you can eat them in moderation on keto.
                Both yogurt and cottage cheese have been shown to help decrease appetite and promote feelings of
                fullness.
                Either one makes a tasty snack on its own, but you can combine them with chopped nuts, cinnamon, or
                other spices to make a quick keto treat.
              </p><br>
              <cite><strong>Written by SaVanna Shoemaker</strong></cite>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>