<div class="relative py-16 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="block text-base text-center text-indigo-600
          font-semibold tracking-wide uppercase">4 Signs and Symptoms That You're in Ketosis</span>
        <span class="mt-2 block text-3xl text-center leading-8
          font-extrabold tracking-tight text-gray-900 sm:text-4xl">Bad breath</span>
      </h1>
      <p class="mt-8 text-xl text-gray-500 leading-8 text-center">People often report bad breath once they reach full
        ketosis.
        It’s actually a common side effect. Many people on ketogenic diets and similar diets, such as the Atkins diet,
        report that their breath takes on a fruity smell.
        This is caused by elevated ketone levels. The specific culprit is acetone, a ketone that exits the body in your
        urine and breath.
      </p>
    </div>
    <div class="mt-6 prose prose-indigo prose-lg text-gray-500
      mx-auto flex justify-center">
      <img class="w-1/3 rounded-lg"
        src="https://c.pxhere.com/photos/09/de/hunger_hungry_eating_cookie_biscuit_cracker_people_snack-946992.jpg!d" 
        alt="Ketogenic food" width="1310" height="873">
    </div>
  </div>
</div>

<div class="relative py-4 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="mt-2 block text-3xl text-center leading-8
          font-extrabold tracking-tight text-gray-900 sm:text-4xl">Weight loss</span>
      </h1>
      <p class="mt-8 text-xl text-gray-500 leading-8 text-center">Ketogenic diets, along with normal low-carb diets, are
        highly effective for weight loss .
        As dozens of weight loss studies have shown, you will likely experience both short- and long-term weight loss
        when switching to a ketogenic diet .
      </p>
    </div>
    <div class="mt-6 prose prose-indigo prose-lg text-gray-500
      mx-auto flex justify-center">
      <img class="w-1/3 rounded-lg"
        src="https://c.pxhere.com/photos/05/08/belly_body_clothes_diet_female_figure_fit_fitness-1159337.jpg!d" 
        alt="Ketogenic food" width="1310" height="873">
    </div>
  </div>
</div>

<div class="relative py-4 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="mt-2 block text-3xl text-center leading-8
          font-extrabold tracking-tight text-gray-900 sm:text-4xl">Increased ketones in the blood</span>
      </h1>
      <p class="mt-8 text-xl text-gray-500 leading-8 text-center">One of the hallmarks of a ketogenic diet is a
        reduction in blood sugar levels and an increase in ketones.
        As you progress further into a ketogenic diet, you will start to burn fat and ketones as the main fuel sources.
        The most reliable and accurate method of measuring ketosis is to measure your blood ketone levels using a
        specialized meter.
      </p>
    </div>
    <div class="mt-6 prose prose-indigo prose-lg text-gray-500
      mx-auto flex justify-center">
      <img class="w-1/3 rounded-lg"
        src="https://c.pxhere.com/photos/69/ee/abstract_barbecue_barbeque_bbq_beef_bone_britain_british-819288.jpg!d" 
        alt="Ketogenic food" width="1310" height="873">
    </div>
  </div>
</div>

<div class="relative py-4 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="mt-2 block text-3xl text-center leading-8
          font-extrabold tracking-tight text-gray-900 sm:text-4xl">Increased ketones in the breath or urine</span>
      </h1>
      <p class="mt-8 text-xl text-gray-500 leading-8 text-center">Another way to measure blood ketone levels is a breath
        analyzer.
        It monitors acetone, one of the three main ketones present in your blood during ketosis.
        This gives you an idea of your body’s ketone levels since more acetone leaves the body when you are in
        nutritional ketosis.
      </p>
    </div>
    <div class="mt-6 prose prose-indigo prose-lg text-gray-500
      mx-auto flex justify-center">
      <img class="w-1/3 rounded-lg"
        src="https://c.pxhere.com/photos/89/39/pair_wc_toilet_man_woman_characters-1083974.jpg!d" 
        alt="Ketogenic food" width="1310" height="873">
    </div>
    <cite class="pt-8 flex justify-center"><strong>Written by Rudy Mawer</strong></cite><br>
  </div>
</div>