<div class="bg-white overflow-hidden">
  <div class="relative max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
    <div class="hidden lg:block bg-gray-50 absolute top-0 bottom-0 left-3/4
      w-screen"></div>
    <div class="mx-auto text-base max-w-prose lg:grid lg:grid-cols-2 lg:gap-8
      lg:max-w-none">
      <div>
        <h2 class="text-base text-indigo-600 font-semibold tracking-wide
          uppercase">A Keto
          Diet
          Meal Plan and Menu That Can Transform Your Body</h2>
        <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight
          text-gray-900 sm:text-4xl">Ketogenic diet meal plan</h3>
      </div>
    </div>
    <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="relative lg:row-start-1 lg:col-start-2">
        <div class="relative text-base mx-auto max-w-prose lg:max-w-none">
          <figure>
            <div class="aspect-w-12 aspect-h-7 lg:aspect-none">
              <img class="rounded-lg shadow-lg object-cover object-center"
                src="https://c.pxhere.com/photos/de/b1/burger_gourmet_hamburger_food_meal_beef_lettuce_meat-710824.jpg!d"
                alt="Ketogenic food" width="1184" height="1376">
            </div>
          </figure>
        </div>
      </div>
      <div class="mt-8 lg:mt-0">
        <div class="text-base max-w-prose mx-auto lg:max-w-none">
          <p>
            Switching to a ketogenic diet may seem overwhelming, but it doesn’t have to be difficult. Your focus should be on reducing carbs while increasing the fat and protein content of meals and snacks.
          </p> <br>

          <p>
            In order to reach and remain in a state of ketosis, carbs must be restricted. While certain people might only achieve ketosis by eating 20 grams of carbs per day, others may be successful with a higher carb intake.
          </p> <br>

          <p>
            Generally, the lower your carbohydrate intake, the easier it is to reach and stay in ketosis.
          </p> <br>

          <p>
            This is why sticking to keto-friendly foods and avoiding items rich in carbs is the best way to successfully lose weight on a ketogenic diet.
          </p> <br>

          <cite><strong>Written by Jillian Kubala</strong></cite>
        </div>
      </div>
    </div>
  </div>
</div>