<h2 class="text-2xl font-extrabold tracking-tight text-gray-900 py-20 flex justify-center text-center px-5">Workouts and exercises for legs</h2>
<ul role="list" class="px-12 grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
    
  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/fRBvkh1S/piernas1.gif" alt="Legs" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Leg with machine</p>
  </li>

  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/3N5Xzr0V/piernas2.gif" alt="Legs" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Bench leg lunge</p>
  </li>

  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/43yQ9STL/piernas3.gif" alt="Legs" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Dumbbell Squat</p>
  </li>

  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/Fsxyn4rC/piernas4.gif" alt="Legs" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Kettlebell squat</p>
  </li>

  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/yYKhPdHS/piernas5.gif" alt="Legs" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Barbell squat</p>
  </li>

  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/d1ddRMNB/piernas6.gif" alt="Legs" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Dumbbell leg diagonal lunge</p>
  </li>

  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/wjfhgQsh/piernas7.gif" alt="Legs" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Static squat</p>
  </li>

  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/hGNT74sv/piernas8.gif" alt="Legs" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">90 degree squat</p>
  </li>
</ul>