<h2 class="text-2xl font-extrabold tracking-tight text-gray-900 py-20 flex justify-center text-center px-5">Workouts and exercises for shoulders</h2>
<ul role="list" class="px-12 grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
    
  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/HxL0g7VJ/hombro1.gif" alt="Shoulders" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Seated Dumbbell Shoulder</p>
  </li>

  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/hvkVTyMx/hombro2.gif" alt="Shoulders" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Seated Barbell Shoulder</p>
  </li>

  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/gcQVCjdJ/hombro3.gif" alt="Shoulders" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Standing Dumbbell Shoulder</p>
  </li>

  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/wjdhBr1Y/hombro4.gif" alt="Shoulders" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Standing Barbell Shrug</p>
  </li>

  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/8CpMRrdy/hombro5.gif" alt="Shoulders" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Dumbbell Reverse Grip Shoulder</p>
  </li>

  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/KY0LJvJm/hombro6.gif" alt="Shoulders" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Standing barbell shoulder</p>
  </li>

  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/GtyyLPrp/hombro7.gif" alt="Shoulders" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Seated Barbell Shrug</p>
  </li>

  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      <img src="https://i.postimg.cc/gcn1WgXK/hombro8.gif" alt="Shoulders" class="object-cover pointer-events-none group-hover:opacity-75">
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none text-center">Standing barbell shoulder with push</p>
  </li>
</ul>