<div class="bg-white">
    <div class="max-w-2xl mx-auto py-12 px-4 sm:px-6 sm:py-12 lg:max-w-7xl
        lg:px-8">

        {{!-- Título de la sección --}}
        <div class="max-w-3xl mx-auto text-center">
            <h2 class="text-3xl font-extrabold tracking-tight text-gray-900
                sm:text-4xl">Training plans</h2>
            <p class="mt-4 text-gray-500">In this section you will find the best
                training plans adapted to your needs and purposes, in order to
                achieve your goals.</p>
        </div>

        {{!--Bloque de crear entrenamiento personalizadoss --}}
        <div class="mt-16 space-y-16">
            <a class="cursor-pointer" href="/trainingPlans/createTrainingPlan">
                <div class="flex flex-col-reverse lg:grid lg:grid-cols-12
                    lg:gap-x-8
                    lg:items-center">
                    <div class="mt-6 lg:mt-0 lg:row-start-1 lg:col-span-5
                        xl:col-span-4 lg:col-start-8 xl:col-start-9">
                        <h3 class="text-4xl font-medium text-gray-900 flex
                            justify-center text-center">Create training plans</h3>
                        <p class="mt-2 text-sm text-gray-500
                            hover:text-gray-900 flex justify-center
                            text-center">Here you can create your personalized
                            workouts, and take your goals and objectives to the
                            next level.</p>
                    </div>
                    <div class="flex-auto lg:row-start-1 lg:col-span-7
                        xl:col-span-8
                        lg:col-start-1">
                        <div class="aspect-w-5 aspect-h-2 rounded-lg bg-gray-100
                            overflow-hidden">
                            <img
                                src="https://c.pxhere.com/photos/80/ed/write_plan_business_startup_start_up_notebooks_creative_computer-764676.jpg!d" 
                                alt="Man writing" class="object-center
                                object-cover">
                        </div>
                    </div>
                </div>
            </a>
        </div>

        {{!-- Bloque de musculación --}}
        <div class="mt-16 space-y-16">
            <a class="cursor-pointer" href="/trainingPlans/fitness">
                <div class="flex flex-col-reverse lg:grid lg:grid-cols-12
                    lg:gap-x-8
                    lg:items-center">
                    <div class="mt-6 lg:mt-0 lg:row-start-1 lg:col-span-5
                        xl:col-span-4 lg:col-start-1">
                        <h3 class="text-4xl font-medium text-gray-900 flex
                            justify-center text-center">
                            Fitness</h3>
                        <p class="mt-2 text-sm text-gray-500
                            hover:text-gray-900 flex justify-center
                            text-center">Here you will find
                            different types of training focused on bodybuilding,
                            working with weights and calisthenics will be
                            essential
                            to develop muscle mass..</p>
                    </div>
                    <div class="flex-auto lg:row-start-1 lg:col-span-7
                        xl:col-span-8
                        lg:col-start-6 xl:col-start-5">
                        <div class="aspect-w-5 aspect-h-2 rounded-lg bg-gray-100
                            overflow-hidden">
                            <img
                                src="https://c.pxhere.com/photos/3d/2e/man_person_power_strength_strong_fitness_body_muscles-641586.jpg!d"
                                alt="Man with weights" class="object-center
                                object-cover">
                        </div>
                    </div>
                </div>
            </a>
        </div>


        {{!--Bloque de cardio --}}
        <div class="mt-16 space-y-16">
            <a class="cursor-pointer" href="/trainingPlans/cardio">
                <div class="flex flex-col-reverse lg:grid lg:grid-cols-12
                    lg:gap-x-8
                    lg:items-center">
                    <div class="mt-6 lg:mt-0 lg:row-start-1 lg:col-span-5
                        xl:col-span-4 lg:col-start-8 xl:col-start-9">
                        <h3 class="text-4xl font-medium text-gray-900 flex
                            justify-center text-center">Cardio</h3>
                        <p class="mt-2 text-sm text-gray-500
                            hover:text-gray-900 flex justify-center
                            text-center">Here you will find
                            everything related to training focused on developing
                            cardio vascular resistance. From running, to
                            swimming
                            and cycling to become a human machine.</p>
                    </div>
                    <div class="flex-auto lg:row-start-1 lg:col-span-7
                        xl:col-span-8
                        lg:col-start-1">
                        <div class="aspect-w-5 aspect-h-2 rounded-lg bg-gray-100
                            overflow-hidden">
                            <img
                                src="https://c.pxhere.com/photos/8f/74/men_trail_running_trail_run_fitness_nature_runner_sport-552598.jpg!d"
                                alt="Mens running" class="object-center
                                object-cover">
                        </div>
                    </div>
                </div>
            </a>
        </div>

        {{!--Bloque de flexibilidad --}}
        <div class="mt-16 space-y-16">
            <a class="cursor-pointer" href="/trainingPlans/flexibility">
                <div class="flex flex-col-reverse lg:grid lg:grid-cols-12
                    lg:gap-x-8
                    lg:items-center">
                    <div class="mt-6 lg:mt-0 lg:row-start-1 lg:col-span-5
                        xl:col-span-4 lg:col-start-1">
                        <h3 class="text-4xl font-medium text-gray-900 flex
                            justify-center text-center">
                            Flexibility</h3>
                        <p class="mt-2 text-sm text-gray-500
                            hover:text-gray-900 flex justify-center
                            text-center">Here you will find the best
                            positions to stretch
                            your muscles after an intense workout or simply
                            because you want to have flexible and healthy
                            articulations
                            for day to day.</p>
                    </div>
                    <div class="flex-auto lg:row-start-1 lg:col-span-7
                        xl:col-span-8
                        lg:col-start-6 xl:col-start-5">
                        <div class="aspect-w-5 aspect-h-2 rounded-lg bg-gray-100
                            overflow-hidden">
                            <img
                                src="https://c.pxhere.com/photos/36/a9/adult_dawn_exercise_field_girl_grass_lawn_leisure-1268681.jpg!d"
                                alt="Woman stretching" class="object-center
                                object-cover">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
