<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white py-16 sm:py-24">
  <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:gap-24
    lg:items-start">
    <div class="relative sm:py-16 lg:py-0">
      <div aria-hidden="true" class="hidden sm:block lg:absolute lg:inset-y-0
        lg:right-0 lg:w-screen">
        <div class="absolute inset-y-0 right-1/2 w-full bg-gray-50 rounded-r-3xl
          lg:right-72"></div>
      </div>
      <div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6
        lg:px-0 lg:max-w-none lg:py-20">
        <!-- Testimonial card-->
        <div class="relative pt-64 pb-10 rounded-2xl shadow-xl
          overflow-hidden">
          <img class="absolute inset-0 h-full w-full object-cover"
            src="https://c.pxhere.com/photos/c6/45/vegetables_cucumber_onion_salad_food_healthy_organic_fresh-1386192.jpg!d"
            alt="Vegan food">
        </div>
      </div>
    </div>

    <div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6
      lg:px-0">
      <!-- Content area -->
      <div class="pt-12 sm:pt-16 lg:pt-20">
        <h2 class="text-3xl text-gray-900 font-extrabold tracking-tight
          sm:text-4xl">
          3 Science-Based Health Benefits of Eating Vegan
        </h2>
        <div class="mt-6 text-gray-500 space-y-6">
          <ul class="list-disc">
            <li>
              <p class="text-lg">
                <strong>Eating vegan can help you lose excess weight: </strong>
                An increasing number of people are turning to plant-based diets
                in hopes of shedding excess weight. While there’s no guarantee
                that a vegan diet will lead to weight loss, there may be some
                good reasons to give it a try.
                Many observational studies suggest that vegans tend to be
                thinner and have lower body mass indexes than nonvegans.
                In addition, several randomized controlled studies — the gold
                standard in scientific research — report that vegan diets are
                more effective for weight loss than the diets they are compared
                with.
              </p>
            </li><br>
            <li>
              <p class="text-lg">
                <strong>A vegan diet appears to lower blood sugar levels and
                  improve kidney function: </strong>
                A vegan diet may also provide benefits for type 2 diabetes and
                declining kidney function.
                Indeed, vegans tend to have lower blood sugar levels and higher
                insulin sensitivity and may have a lower risk of developing type
                2 diabetes.
                Even if you don’t go fully vegan, increasing your intake of
                healthy plant-based foods and decreasing your intake of meat-
                and dairy-based foods may reduce your type 2 diabetes risk.
                A 2006 study even reported that a vegan diet lowers blood sugar
                levels in people with diabetes more than the recommended diet
                from the American Diabetes Association.
                In one 2009 study, 43% of participants following a vegan diet
                were able to reduce their dosage of blood sugar-lowering
                medication, compared with only 26% of participants who followed
                an ADA-recommended diet.
              </p>
            </li><br>
            <li>
              <p class="text-lg">
                <strong>Going vegan may protect against certain cancers:
                </strong>
                Vegans generally eat considerably more legumes, fruits, and
                vegetables than nonvegans. This may explain why a 2017 study
                found that vegans may benefit from a 15% lower risk of
                developing cancer.
                For instance, eating legumes regularly may reduce your risk of
                colorectal cancer by 9–18%.
                And according to the National Cancer Institute, eating higher
                amounts of plant-based foods reduces your risk of several types
                of cancer, including stomach, lung, mouth, and throat cancers.
                It may also reduce the risk of colon, prostate, and pancreatic
                cancers.
                What’s more, vegan diets generally contain more soy products,
                which may offer some protection against breast cancer.
              </p><br>
              <cite><strong>Written by Alina Petre</strong></cite>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
