<div class="relative bg-white">
  <div class="lg:absolute lg:inset-0">
    <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2">
      <img class="h-56 w-full object-cover lg:absolute lg:h-full"
        src="https://c.pxhere.com/photos/27/ff/salad_caprese_mozzarella_cheese_vegetables_food_italy_caf-1205245.jpg!d" 
        alt="Vegan food">
    </div>
  </div>
  <div class="relative pt-12 pb-16 px-4 sm:pt-16 sm:px-6 lg:px-8 lg:max-w-7xl
    lg:mx-auto lg:grid lg:grid-cols-2">
    <div class="lg:col-start-2 lg:pl-8">
      <div class="text-base max-w-prose mx-auto lg:max-w-lg lg:ml-auto lg:mr-0">
        <h2 class="leading-6 text-indigo-600 font-semibold tracking-wide
          uppercase">The Vegan Diet — A Complete Guide for
          Beginners</h2>

          <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight
            text-gray-900 sm:text-4xl">A Vegan Sample Menu for One Week</h3>
          <div class="mt-5 prose prose-indigo text-gray-500">
            <p>To help get you started, here’s a simple plan covering a week’s
              worth of vegan meals:</p>

            <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight
              text-gray-900 sm:text-4xl">Monday</h3>
            <div class="mt-5 prose prose-indigo text-gray-500">
              <ul class="list-disc">
                <li>Breakfast: Vegan breakfast sandwich with tofu, lettuce,
                  tomato, turmeric and a plant-milk chai latte.</li><br>
                <li>Lunch: Spiralized zucchini and quinoa salad with peanut
                  dressing.</li><br>
                <li>Dinner: Red lentil and spinach dal over wild rice.</li><br>
              </ul>
            </div>

            <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight
              text-gray-900 sm:text-4xl">Tuesday</h3>
            <div class="mt-5 prose prose-indigo text-gray-500">
              <ul class="list-disc">
                <li>Breakfast: Overnight oats made with fruit, fortified plant
                  milk, chia seeds and nuts.</li><br>
                <li>Lunch: Seitan sauerkraut sandwich.</li><br>
                <li>Dinner: Pasta with a lentil bolognese sauce and a side
                  salad.</li><br>
              </ul>
            </div>

            <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight
              text-gray-900 sm:text-4xl">Wednesday</h3>
            <div class="mt-5 prose prose-indigo text-gray-500">
              <ul class="list-disc">
                <li>Breakfast: Mango and spinach smoothie made with fortified
                  plant milk and a banana-flaxseed-walnut muffin.</li><br>
                <li>Lunch: Baked tofu sandwich with a side of tomato salad.</li><br>
                <li>Dinner: Vegan chili on a bed of amaranth.</li><br>
              </ul>
            </div>

            <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight
              text-gray-900 sm:text-4xl">Thursday</h3>
            <div class="mt-5 prose prose-indigo text-gray-500">
              <ul class="list-disc">
                <li>Breakfast: Whole-grain toast with hazelnut butter, banana
                  and a fortified plant yogurt.</li><br>
                <li>Lunch: Tofu noodle soup with vegetables.</li><br>
                <li>Dinner: Jacket sweet potatoes with lettuce, corn, beans,
                  cashews and guacamole.</li><br>
              </ul>
            </div>

            <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight
              text-gray-900 sm:text-4xl">Friday</h3>
            <div class="mt-5 prose prose-indigo text-gray-500">
              <ul class="list-disc">
                <li>Breakfast: Vegan chickpea and onion omelet and a cappuccino
                  made with fortified plant milk.</li><br>
                <li>Lunch: Vegan tacos with mango-pineapple salsa.</li><br>
                <li>Dinner: Tempeh stir-fry with bok choy and broccoli.</li><br>
              </ul>
            </div>

            <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight
              text-gray-900 sm:text-4xl">Saturday</h3>
            <div class="mt-5 prose prose-indigo text-gray-500">
              <ul class="list-disc">
                <li>Breakfast: Spinach and scrambled tofu wrap and a glass of
                  fortified plant milk.</li><br>
                <li>Lunch: Spiced red lentil, tomato and kale soup with
                  whole-grain toast and hummus.</li><br>
                <li>Dinner: Veggie sushi rolls, miso soup, edamame and wakame
                  salad.</li><br>
              </ul>
            </div>

            <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight
              text-gray-900 sm:text-4xl">Sunday</h3>
            <div class="mt-5 prose prose-indigo text-gray-500">
              <ul class="list-disc">
                <li>Breakfast: Chickpea pancakes, guacamole and salsa and a
                  glass of fortified orange juice.</li><br>
                <li>Lunch: Tofu vegan quiche with a side of sautéed mustard
                  greens.</li><br>
                <li>Dinner: Vegan spring rolls.</li><br>
                <cite><strong>Written by Alina Petre</strong></cite>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>