<div class="bg-white overflow-hidden">
  <div class="relative max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
    <div class="hidden lg:block bg-gray-50 absolute top-0 bottom-0 left-3/4
      w-screen"></div>
    <div class="mx-auto text-base max-w-prose lg:grid lg:grid-cols-2 lg:gap-8
      lg:max-w-none">
      <div>
        <h2 class="text-base text-indigo-600 font-semibold tracking-wide
          uppercase">What Is Veganism, and What Do Vegans Eat?</h2>
        <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight
          text-gray-900 sm:text-4xl">What is veganism?</h3>
      </div>
    </div>
    <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="relative lg:row-start-1 lg:col-start-2">
        <div class="relative text-base mx-auto max-w-prose lg:max-w-none">
          <figure>
            <div class="aspect-w-12 aspect-h-7 lg:aspect-none">
              <img class="rounded-lg shadow-lg object-cover object-center"
                src="https://c.pxhere.com/photos/df/30/tomato_salad_yellow_sprouts_vegetable_food_green_healthy-783664.jpg!d"
                alt="Vegan food" width="1184" height="1376">
            </div>
          </figure>
        </div>
      </div>
      <div class="mt-8 lg:mt-0">
        <div class="text-base max-w-prose mx-auto lg:max-w-none">
          <p>
            According to the Vegan Society, the term “vegan” was coined back in
            1944 by a small group of vegetarians who broke away from the
            Leicester Vegetarian Society in England to form the Vegan Society.
            In addition to refraining from eating meat, they chose not to
            consume dairy, eggs, or any other products of animal origin.
          </p> <br>

          <p>
            The term “vegan” was chosen from the combination of the first and
            last letters of “vegetarian.” By 1949, the first definition of
            veganism had been born. It has changed slightly over the years to
            become what it is known as today.
          </p> <br>

          <p>
            According to the latest definition from the Vegan Society, veganism
            is “a philosophy and way of living which seeks to exclude — as far
            as is possible and practicable — all forms of exploitation of, and
            cruelty to, animals for food, clothing, or any other purposes.”
          </p> <br>

          <p>
            Many people use the term “vegan” to refer exclusively to diet.
            However, by this latest definition, veganism extends beyond eating a
            plant-based diet.
          </p> <br>

          <p>
            Those who identify as vegans typically aim to exclude animal
            exploitation or cruelty in all aspects of their lives, including the
            clothes they wear, the cosmetics they use, and the leisure
            activities they take part in.
          </p> <br>
          
          <p>
            As a result, many vegans avoid purchasing wool coats, leather
            furniture, or down pillows and comforters. They may also opt to
            visit animal sanctuaries instead of going to zoos, the circus, or
            animal petting farms.
          </p> <br>
          <cite><strong>Written by Alina Petre</strong></cite>
        </div>
      </div>
    </div>
  </div>
</div>